<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Soundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Soundboard.Properties.Settings>
            <setting name="numCols" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="folderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cancel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minButtonSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>1</value>
            </setting>
        </Soundboard.Properties.Settings>
    </userSettings>
</configuration>