<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Soundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Soundboard.Properties.Settings>
            <setting name="numCols" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="folderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cancel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minButtonSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="formats" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>.mp3</string>
                        <string>.wav</string>
                        <string>.aiff</string>
                        <string>.wma</string>
                        <string>.aac</string>
                        <string>.flac</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="themeType" serializeAs="String">
                <value>1</value>
            </setting>
        </Soundboard.Properties.Settings>
    </userSettings>
</configuration>